.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color:#461d7b;
  z-index: 0;
}
.header {
  color: white;

}
.chat{
  overflow-y: auto;
  display: grid;
  position: absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  height: 85%;
  z-index: 0;
  background-color: white;
  border: 5px solid #50d591;
  border-radius: 25px;
  box-sizing: border-box;
}
.comentarioUser{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  word-wrap: break-word;
}
.comentarioBot{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  word-wrap: break-word;
}
input{
  position: absolute;
  width: 70%;
  left: 11%;
  bottom: 5%;
  height: 6%;
  font-weight: bold;
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  border-radius: 25px;
}
.textUser{
  font-size: 20px;
  background-color: #50d591;
  color: #461d7b;
  white-space: nowrap;
  width: auto;
  height: auto;
  border-radius: 25px;
  padding-left: 1%;
  padding-right: 1%; 
}
#imgUser{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.textBot{
  font-size: 20px;
  background-color: #50d591;
  color: #461d7b;
  white-space: nowrap;
  width: auto;
  height: auto;
  border-radius: 25px;
  padding-left: 1%;
  padding-right: 1%;  
}
#imgBot{
  height: 100px;
  width: 100px;
}

.form{
  display: flex;
  flex-direction: row;
}
#send{
  position: absolute;
  width: 6%;
  right: 11%;
  bottom: 4%;
  height: 10%;
}
